<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<table>
    <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
    </tr>
{% for id, name, a, b in results %}
    <tr>
        <th>{{id}}</th> 
        <th>{{name}}</th> 
        <th>{{a}}</th> 
        <th>
          <a href="{% url 'do_magic' data=id %}">
            <button>
              adadada
            </button>
          </a>
        </th>
    </tr>
{% endfor %}
</table>